
[Unit]
Description=SmartEducation Django Application
After=network.target

[Service]

User=ubuntu
Group=ubuntu


WorkingDirectory=/home/ubuntu/SmartEducation/SmartEducation


Environment=PATH=/home/ubuntu/venv/bin


EnvironmentFile=/home/ubuntu/SmartEducation/.env


ExecStart=/home/ubuntu/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 SmartEducation.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

#MIIJKAIBAAKCAgEAl3HL+Va9EXDJPVjQT4dXN6aEFLI4MhiYlhVnAoYmRTmeNEBA
 #5c0KLKY17rfyMpHJzebyWv2/c/uVLHdXadO9TZ6HS3vuHUPuG/lG6VKg/YPLWNju
 #fJlDbLrmtCWzKJuFgNegCig2J+RMxuqApBjJ1Fr9bczp+Ly7FK7NUhEsuzEUrs4x
 #Lu90SgIRhQ+I76IqKkirk/RWIIVXj7qT3AGzXkX8xvpXZLKTDsIx7iZZdIXG7Q06
 #RsshjVOqnPaXiSe5OdU02yJfOPRzyt13+aTIYIjTJrZzwpv6ejRDQjkKBAeS9B8R
 #dkDFbej4GDDOjmCk2ssc1Wnp/Hh/uPUF++1G0hknTzEH5FOOrNiY1PZYaFbxyuvW
 #FxBR70L7erjtn1O+eeJYrZtlu1rJV9F1Na9JO/ImFdTT7JvbbCDxc35p+BTktNoD
 #7rpKwwCgEQo34a+wvl8Ozf3QJVVlwqz0JGR7gPQxsnOX+I7xNUqieQGjBHlyYzSp
 #kNHp/Ip3sBKMsz+NXvYBre1WmBO+dOmnj9Z76rmAK/km2RcZKQCG0nP1SslupcPo
 #TQC9tPE9+AJCk4SSBAfFzhm7SZ+82M/15m7fHSlbIZO3AcTvxXaVBL24ZyDzIiqm
 #f75uKg1P1vIrA1f3+ofWn0bSi0N6myEG1tm/Ej4wKHTwB7LN/+3cwdr6bfECAwEA
 #l3gmsqjcCjU7UjkCVgDQfyT3Dzr0yPaf+3Xpha8d3dsbarHGBgOiR+jpndk=